.header {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  border-bottom: 2px solid #000;
}

.header_title{
  font-weight: 600;
  font-size: 28px;
}

.header_version{
  height: 60%;
  padding: 1px;
  color: #fff;
  background-color: black;
  border-radius: 50%;
}
